*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Tilt Warp', cursive;
  margin-top: 40px;
  background-color: #000000;
}


h1{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  color: white;

}

.aplicacion-tareas{
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Lista de tareas*/

.tareas-listalprincipal{
  max-width: 80vw;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-left: 1vw;
  margin-right: 1vw;
  background-image: url(./imagenes/fresa.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}